:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --success-light: #43d875;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;

  --background: #eee;
  --disabled: #999;
}